@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #cfaa74;
  --main-color-hover: #75592e;
  --secondary-color: #1e3a8a;
  --alt-secondary-color: #2c3e50;
  --main-duration: 0.7s;
}

html {
  background-color: #ebf4f7;
}

body {
    @apply max-w-4xl mx-auto bg-white;
}

h1 {
  @apply text-xl sm:text-2xl lg:text-3xl;
}

h2 {
  @apply text-sm sm:text-lg lg:text-xl;
}

.icons {
  @apply text-xl sm:text-2xl lg:text-3xl;
}

.button {
  @apply bg-[var(--main-color)] rounded-md shadow-md shadow-gray-300 p-1 cursor-pointer hover:shadow-gray-500 duration-[var(--main-duration)]
}
